---
import Layout from "../../layouts/Layout.astro";
import { createClient } from "microcms-js-sdk";
export const client = createClient({
  serviceDomain: "nknighta-github",
  apiKey: import.meta.env.MICROCMS_API_KEY,
});

export async function getStaticPaths() {
  const data = await client.getList({ endpoint: "blogs" });
  return data.contents.map((item) => ({ params: { id: item.id } }));
}

const { id } = Astro.params;
let blog = null;
try {
  blog = await client.get({ endpoint: "blogs", contentId: id });
} catch (e) {
  blog = null;
}
---

<Layout>
  {
    blog ? (
      <article>
        <h1>{blog.title}</h1>
        {blog.eyecatch?.url && (
          <img
            src={blog.eyecatch.url}
            alt={blog.title + " eyecatch"}
            style="max-width:100%;height:auto;"
          />
        )}
        <div>
          <div>
            {blog.publishedAt
              ? new Date(blog.publishedAt).toLocaleDateString()
              : ""}
          </div>
        </div>
        <div set:html={blog.content} class="blog-content" />
      </article>
    ) : (
      <p>Article not found.</p>
    )
  }
</Layout>

<style>
  article {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  h1 {
    font-size: 2rem;
    margin: 0.3rem 0;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0.3rem 0;
  }
  small {
    color: #666;
  }
  .blog-content {
    margin-top: 1rem;
    line-height: 2;
  }
</style>
