<div>
    <img src="https://images.microcms-assets.io/assets/a2939c8d25434ae5a1f853f2dc239a0f/b625a5435e8d4d18ab6c0b5499405b30/icon.jpeg?w=170&h=170&q=50&fm=webp" alt="Logo">
    <a href="/">Blog | nknighta</a>
</div>

<style>
    img {
        border-radius: 50%;
        margin-right: 1rem;
        height: 50px;
        width: 50px;
    }
    div {
        width: 100%;
        padding: 1rem 2rem;
        background-color: #0a0021;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
